/* 
-------CAROSELL -------
*/

.slider-image {
    object-fit: cover;
    object-position: top;
    height: 100%;
    width: 100%;
    transition: "left 1s";
    filter: brightness(60%);
}

.slider-container {
    height: 70vh;
}

/* pagination */

.pagination .page-item.active .page-link {
    background-color: #212529;
    border-color: #212529;
}

.pagination .page-item .page-link {
    color: #212529;
}

/* FADE IN */
.fade-in {
    animation: fadeIn ease 0.7s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.brightness:hover {
    filter: brightness(130%);
}

/* ACTORS */

.cast-image {
    object-fit: cover;
    height: 110px;
    width: 110px;
    border-radius: 20%;
}

/* RECOMMENDED GENRE MOVIES  AND TRAILER */

.container__movie {
    min-height: 320px;
}

.movie-recs-poster {
    min-height: 225px;
    max-height: 275px;
}
